body {
    font-family: Arial, sans-serif;
    color: #f9f9f9;
    background-color: #8E603F;
  }
  
  header {
    background-color: #8E603F;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .destacados {
    margin-bottom: 40px;
  }
  
  .destacados h2 {
    font-size: 24px;
    margin-bottom: 20

    .destacados .producto {
        display: inline-block;
        width: 300px;
        margin-right: 40px;
        margin-bottom: 40px;
      }
      
      .destacados .producto img {
        width: 100%;
      }
      
      .destacados .producto h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
      }
      
      .destacados .producto .descripcion {
        font-size: 14px;
        margin-bottom: 10px;
      }
      
      .destacados .producto .precio {
        font-size: 16px;
        font-weight: bold;
      }
      
      .formulario {
        background-color: #8E603F;
        padding: 20px;
      }
      
      .formulario h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      
      .formulario label {
        display: block;
        margin-bottom: 10px;
      }
      
      .formulario input,
      .formulario textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
      }
      
      .formulario button {
        background-color: #D7A98C;
        color: #8E603F;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
      
      footer {
        background-color: #8E603F;
        padding: 20px;
        text-align: center;
        color: #8E603F;
        margin-top: 40px;
      }
      