 .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 .btn-border {
    padding: 10px 20px;
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-shadow {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .btn-gradient {
    padding: 10px 20px;
    background-image: linear-gradient(to bottom right, #007bff, #00bfff);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-rounded {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
    
  