.block {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 10px solid red;
    background-color: yellow;
    /*display: block; PROPIEDAD POR DEFECTO*/
}

.inline {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 10px solid red;
    background-color: yellow;
    display: inline; /*NO SE PUEDE MODIFICAR ALTO NI ANCHO*/
}

.inline-block {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 10px solid red;
    background-color: yellow;
    display: inline-block; /*EN LINEA CON PROPIEDADES DE BLOQUE*/
}