* {
    box-sizing: border-box;
}

body {
    background-color: #FFD90F;
    color: #000000;
    font-family: 'Simpsonfont', sans-serif;
}
  
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-bottom: 20px; /* Agregar margen inferior */
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}




  