* {
  box-sizing: border-box;
}

body {
  background-color: #FFD90F;
  color: #000000;
  font-family: 'Simpsonfont', sans-serif;
  margin: 0;
}

.wrapper {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90vw; /* establecemos el ancho al 90% del ancho de la ventana */
  margin: 0 auto; /* centramos el contenedor horizontalmente */
  max-width: 1200px; /* establecemos el ancho máximo */
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 60%;
  max-height: 60%;
  width: 100%; /* asegura que la imagen no se desborde del contenedor */
  margin: 10px; /* agrega un margen alrededor de la imagen */
}


.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.btn-up,
.btn-down {
  font-family: 'Simpsonfont', sans-serif;
  background-color: #FFD90F;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 10px;
}

.btn-up:hover,
.btn-down:hover {
  background-color: #222831;
  color: #FFD90F;
}

.btn-up,
.btn-down {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}


nav img {
  width: 50%; /* establece el ancho al 50% del ancho del contenedor padre */
  max-width: 200px; /* establece un ancho máximo para evitar desbordamiento */
  height: auto;
  margin: 10px; /* agrega un margen alrededor de la imagen */
}

@media screen and (max-width: 768px) {
  /* para pantallas más pequeñas, ajusta el ancho del contenedor y el tamaño de fuente */
  .wrapper {
    width: 95vw;
    font-size: 14px;
  }

  /* para pantallas más pequeñas, ajusta el tamaño de la imagen en el contenedor */
  img {
    max-width: 50%;
    max-height: 95%;
  }
}
footer {
  margin-top: 50px;
  font-size: 10px;
}




  