body {
    color: #fff;
    background: #223;
}

.container {
    width: 300px;
    height: 300px;
    background: #4f4c52;
    border-radius: 50%; /*REDONDEAR BORDES hasta un circulo*/
    box-shadow: 50px 50px 20px #1119 inset; /*SOMBRA: DESPLAZAMIENTO EN X/ EN Y/ DIFUMINADO*/
    transition: background 1s; /*conseguir un efecto suavizado entre un estado inicial y un estado final al realizar una acción*/
}
/*LOS SELECTORES MAS COMUNES SON LAS CLASES */

/*EL FORMATO MAS COMUN PARA COLORES ES HEXADECIMAL #ff0000 ó #f00
EL 4TO ELEMENTO ES EL CANAL ALFA PARA INDICAR EL GRADO DE TRANSPARENCIA */

/* transition: <property> <duration> <timing-function> <delay> */

.container:hover {
    background: #eebb6f;
}

.container2 {
    width: 300px;
    height: 300px;
    background: #08a02e;
    border-radius: 50%;
    transition: transform 1s;
}
.container2:hover {
    transform: translateX(500px);
}

.container3 {
    display: flex; /*coloca los div uno al lado del otro*/
    justify-content: center; /*centra los elementos HORIZONTAL*/
    align-items: center; /*centra los elementos VERTICAL*/
    width: 650px;
    height: 300px;
    background: #808080;
}

.item {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    background: #111ab9;
}

.container4 {
    display: grid; /*coloca los div uno debajo del otro*/
    width: 650px;
    height: 300px;
    background: #808080;
}


