body {
    background-color: black;
}
.texto {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.texto h1 {
    padding: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ffd700, #ffa500);
    font-family: Arial, sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: bold;
}
