*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
    height: 100vh;
    display: flex; /*cajas flexibles a sus elementos hijos*/

    flex-wrap: wrap; /*las cajas mantienen su tamaño y se acomodan abajo*/

    /*justify-content:center;*/  /*centra*/
    /*justify-content: space-around;*/ /*similar a margin auto*/
    /*justify-content: space-between;*/ /*la maxima distancia entre cajas*/ 
    justify-content: space-evenly; /*cada caja con mismos margenes*/

    /*align-items: center;*/ /*centra verticalmente, cuano hay una linea de elementos*/
    /*align-items: flex-end;*/ /*al final*/

    align-content: center; /*con varias lineas de elementos*/
}

.flex-item {
    background-color: black;
    margin: 5px;
    height: 120px;
    width: 120px;
}