/* Estilos generales */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    position: relative;
    z-index: 2;
    width: 400px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
  }
  
  form:hover {
    transform: translateY(-10px);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-field {
    position: relative;
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-color 0.2s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #00ffff;
  }
  
  label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #666;
    transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out;
    pointer-events: none;
  }
  
  input[type="text"]:focus + label,
  input[type="password"]:focus + label {
    transform: translateY(-30px);
    font-size: 14px;
    color: #00ffff;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    background-color: #00ffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #009999;
    transform: translateY(-2px);
  }
  
  .btn:focus {
    outline: none;
  }
  
  /* Elementos gráficos */
  
  .shapes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    }
    
    .circle {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #00ffff;
    opacity: 0.5;
    animation: rotate 15s linear infinite;
    }
    
    .square {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 200px;
    height: 200px;
    background-color: #00ffff;
    opacity: 0.5;
    transform: rotate(45deg);
    animation: rotate 20s linear infinite;
    }
    
    .triangle {
    position: absolute;
    bottom: 20%;
    right: 10%;
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-left: 150px solid #00ffff;
    border-bottom: 150px solid transparent;
    opacity: 0.5;
    animation: rotate 25s linear infinite;
    }
    
    @keyframes rotate {
    from {
    transform: rotate(0);
    }
    to {
    transform: rotate(360deg);
    }
    }
    
    