body {
    background-color: black;
}
.texto {
    /* Asegúrate de que el texto sea blanco para contrastar con el fondo negro */
    color: white;
    /* Agrega una sombra para resaltar el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.texto h1 {
    /* Aplica un relleno al texto para darle espacio */
    padding: 10px;
    
    /* Establece el gradiente lineal dorado como color de relleno del texto */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #ffd700, #ffa500);
    
    /* Selecciona el tipo de fuente que desees */
    font-family: Arial, sans-serif;
    /* Ajusta el tamaño de la fuente */
    font-size: 5em;
    /* Asegúrate de que el texto esté en mayúsculas para un mejor aspecto */
    text-transform: uppercase;
    /* Ajusta el grosor del texto */
    font-weight: bold;
}
  

  